body {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    color: #343a40;
    font-size: 15px;
    letter-spacing: .12em;
}

a, button.collapse-button {
    color: #be1622;
}

a:hover, button.collapse-button:hover {
    color: #990000;
    text-decoration: unset;
}

button[type="submit"] {
    background-color: #be1622;
    border: unset;
}

button[type="submit"]:hover,
button[type="submit"]:active:focus {
    background-color: #990000 !important;
}

span.badge-red {
    color: #fff;
    background-color: #be1622;
}

.form-control:focus {
    border-color: #ced4da !important;
    box-shadow: 0px 0px 0px #343a40 inset, 0px 0px 5px #ced4da;
}

.form-control.is-invalid {
    border-color: #be1622;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 9px;
    text-transform: uppercase;
}

h2 {
    font-weight: normal;
    font-size: 25px;
    letter-spacing: .12em;
}

h3 {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: .12em;
}

h4 {
    font-weight: normal;
    font-size: 17.5px;
    letter-spacing: .12em;
}

h5 {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: .12em;
}

button.collapse-button {
    font-size: 15px;
    padding: unset;
    border: unset;
    background-color: unset;
    cursor: pointer;
}

div.h1-box {
    margin-bottom: 1rem;
}

div.container {
    max-width: 1000px;
}

div.social-links {
    font-size: 15px;
}

div.social-links a,
div.social-links a:active {
    color: rgba(0, 0, 0, .5);
}

div.social-links a:hover {
    color: #333;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

ol.breadcrumb {
    padding: unset;
    background-color: unset;
}

div.rsa-fingerprint {
    font-size: 12px;
}

ul.bullet {
    list-style-type: square;
    padding-left: 15px;
}