html, body {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    color: #343a40;
    font-size: 15px;
    letter-spacing: .12em;
    background-color: #fafafa;
    height: 100%;
}

main.fs-bg {
    height: 100%;
    background-image: url("../image/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a, button.collapse-button {
    color: #be1622;
}

a:hover, button.collapse-button:hover {
    color: #990000;
    text-decoration: unset;
}

button[type="submit"] {
    background-color: #be1622;
    border: unset;
}

button[type="submit"]:hover,
button[type="submit"]:active:focus {
    background-color: #990000 !important;
}

span.badge {
    background-color: rgba(0, 0, 0, .1);
}

.form-control:focus {
    border-color: #ced4da !important;
    box-shadow: 0px 0px 0px #343a40 inset, 0px 0px 5px #ced4da;
}

.form-control.is-invalid {
    border-color: #be1622;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 9px;
    text-transform: uppercase;
}

h2 {
    font-weight: normal;
    font-size: 25px;
    letter-spacing: .12em;
    color: white;
    background-color: #343a40;
    padding: 2px 0 2px 5px;
}

h2.unset-background {
    background-color: unset;
    padding: unset;
    color: inherit;
}

h3 {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: .12em;
}

h4.inline {
    display: inline;
    font-size: inherit;
    font-weight: bold;
}

h5 {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: .12em;
}

img.avatar {
    border-radius: 50%;
    border: 2px solid #343a40;
    width: 225px;
}

img.insta-thumb {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.pt-5 {
    padding-top: 6rem !important;
}

button.collapse-button {
    font-size: 15px;
    padding: unset;
    border: unset;
    background-color: unset;
    cursor: pointer;
}

div.h1-box {
    margin-bottom: 1rem;
}

div.container {
    max-width: 1000px;
}

div.social-links {
    font-size: 15px;
}

div.social-links a,
div.social-links a:active {
    color: rgba(0, 0, 0, .5);
}

div.social-links a:hover {
    color: #333;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

ol.breadcrumb {
    padding: unset;
    background-color: unset;
}

div.rsa-fingerprint {
    font-size: 12px;
}

ul.bullet {
    list-style-type: square;
    padding-left: 15px;
}

img.instagram-profile-picture {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 50%;
}

hr.instagram-delimiter {
    margin-bottom: 2rem;
}