@import "../../vendor/twbs/bootstrap/scss/bootstrap";

/* main colors */
$dark: #232323;
$light: #fafafa;
$highlight: #be1622;
$highlight-dark: #990000;
$breadcrumb-active-color: #6c757d;

/* colors for light borders in form inputs and image thumbnails */
$light-dark: #e5e5e5;

html, body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  color: $dark;
  font-size: 15px;
  letter-spacing: .0883em;
  background-color: $light;
  scrollbar-width: none;
}

div.bg {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: url("../image/bg.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
  margin: 0.5rem 0;
  background-color: $light;
}

main.fade-in {
  display: none;
}

.navbar-dark {
  background-color: $dark !important;
}

.nav-link:hover {
  color: $light !important;
}

.nav-link.active {
  color: $light !important;
}

.navbar-expand-lg .navbar-nav-social .nav-link {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.navbar-expand-lg .navbar-nav-social-mobile .nav-link:first-of-type {
  padding-left: unset;
}

a, button.collapse-button {
  color: $highlight;
}

ol.breadcrumb li.active a {
  color: $breadcrumb-active-color;
}

a:hover, button.collapse-button:hover {
  color: $highlight-dark;
  text-decoration: unset;
}

#scroll-to-content {
  color: $light;
  opacity: .5;

  &:hover, &:active {
    opacity: unset;
  }
}

div.navbar-nav a:last-of-type {
  padding-right: unset !important;
}

button[type="submit"] {
  background-color: $highlight;
  border: unset;
}

button[type="submit"]:hover,
button[type="submit"]:active:focus {
  background-color: $highlight-dark !important;
}

span.badge {
  background-color: rgba(0, 0, 0, .1);
}

.form-control {
  color: $dark !important;
  border-color: $light-dark;
}

.form-control:focus {
  border-color: $light-dark !important;
  box-shadow: 0px 0px 0px $light inset, 0px 0px 5px $light-dark;
}

.form-control.is-invalid {
  border-color: $highlight;
}

.form-control.is-invalid:focus {
  box-shadow: 0px 0px 0px $highlight inset, 0px 0px 5px $highlight-dark;
}

div.insta-row div:nth-of-type(2) {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

div.dark-column {
  background-color: $dark;
  color: $light;
  padding: 1rem;
  background-clip: padding-box;
}

div.character {
  h2 {
    margin-bottom: 0rem;
  }
  h3 {
    text-align: center;
  }
  hr {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  dt, dd {
    text-align: center;
  }
}

div.col-box-content {
  height: 25rem;
  background: url('../../gui/image/symbole/symbol.png') center top no-repeat;
  background-size: 75%;
  background-color: $light-dark;
  background-clip: content-box;
}

div.insta-row:first-of-type {
  margin-top: 6px;
}

img.insta-thumb {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-bottom: 7.5px;
  border: solid 1px $light-dark;
}

div.insta-row div:last-of-type {
  padding-left: 0px;
}

div.insta-row div:first-of-type {
  padding-right: 0px;
  padding-left: 15px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: .15em;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

h4.inline {
  font-size: inherit;
  font-weight: bold;
}

div.dark-card {
  background-color: $dark;
  color: $light;
}

p {
  margin-bottom: .5rem;
}

section p:last-of-type {
  margin-bottom: 1rem;
}

img.rounded-circle:hover {
  cursor: pointer;
}

img.header-thumb {
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid $dark;
  width: 150px;
  margin-bottom: .5rem;
}

.pt-5 {
  padding-top: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

button.collapse-button {
  font-size: 15px;
  padding: unset;
  border: unset;
  background-color: unset;
  cursor: pointer;
}

div.h1-box {
  margin-bottom: 1rem;
}

.h2-home {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: .15em;
  text-transform: uppercase;
}

div.container {
  max-width: 1000px;
}

ol.breadcrumb {
  padding: unset;
  background-color: unset;
}

ul.bullet {
  list-style-type: square;
  padding-left: 15px;
}