$dark: #232323;
$light: #fafafa;
$light-dark: #e5e5e5;
$highlight: #be1622;
$highlight-dark: #990000;

html, body {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    color: $dark !important;
    font-size: 15px;
    letter-spacing: .12em;
    background-color: $light;
    height: 100%;
}

.navbar-dark {
    background-color: $dark !important;
}

.nav-link:hover {
    color: $light !important;
}

.nav-link.active {
    color: $light !important;
}

main.fs-bg {
    height: 100%;
    background-image: url("../image/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a, button.collapse-button {
    color: $highlight;
}

a:hover, button.collapse-button:hover {
    color: $highlight-dark;
    text-decoration: unset;
}

div.navbar-nav a:last-of-type {
    padding-right: unset !important;
}

button[type="submit"] {
    background-color: $highlight;
    border: unset;
}

button[type="submit"]:hover,
button[type="submit"]:active:focus {
    background-color: $highlight-dark !important;
}

span.badge {
    background-color: rgba(0, 0, 0, .1);
}

.form-control {
  color: $dark !important;
  border-color: $light-dark;
}

.form-control:focus {
    border-color: $light-dark !important;
    box-shadow: 0px 0px 0px $light inset, 0px 0px 5px $light-dark;
}

.form-control.is-invalid {
    border-color: $highlight;
}

.form-control.is-invalid:focus {
  box-shadow: 0px 0px 0px $highlight inset, 0px 0px 5px $highlight-dark;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: .12em;
    text-transform: uppercase;
}

h3 {
    font-weight: normal;
    font-size: 20px;
}

h4.inline {
    font-size: inherit;
    font-weight: bold;
}

div.thumbBg {
    position: relative;
}

div.thumbBg img.img-project {
    display: block;
    width: 100%;
    height: auto;
}

div.thumbBg .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

div.thumbBg:hover .overlay {
    height: 100%;
    bottom: 0;
}

div.thumbBg .text {
    color: $light;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
}

div.thumbBg .text .title {
    font-size: 30px;
}

div.thumbBg .text .subtext {
    color: rgba(255,255,255,.5);
}

div.thumbBg .text .subtext a {
    color: unset;
}

div.thumbBg .text .subtext a:hover {
    color: $light;
}

p {
    margin-bottom: .5rem;
}

p.underline {
    text-decoration: underline;
}

section p:last-of-type {
    margin-bottom: 1rem;
}

h2.insta-title {
    font-weight: unset;
}

img.insta-profile-picture {
	border-radius: 100px;
	border: solid 1px $light-dark;
	display: block;
	margin: 10px auto;
}

img.insta-thumb {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: solid 1px $light-dark;
}

.pt-5 {
    padding-top: 6rem !important;
}

button.collapse-button {
    font-size: 15px;
    padding: unset;
    border: unset;
    background-color: unset;
    cursor: pointer;
}

div.h1-box {
    margin-bottom: 1rem;
}

div.container {
    max-width: 1000px;
}

ol.breadcrumb {
    padding: unset;
    background-color: unset;
}

ul.bullet {
    list-style-type: square;
    padding-left: 15px;
}